
<div id="divTeste1" ></div>
<div id="divTeste2"></div>
<div id="divTeste3"></div>
<div id="divTeste4"></div>

<a id="lnkTeste1">asdsd</a>
<a id="lnkTeste2">asdsd</a>
<a id="lnkTeste3" class="gl">asdsd @GlyphIcon.Flash()</a>


@section InLineJavaScript{
    <script src="~/TypeScript/Home/Index.js"></script>
}
