
<div id="divTeste1" ></div>
<div id="divTeste2"></div>
<div id="divTeste3"></div>
<div id="divTeste4"></div>

<a id="lnkTeste1">asdsd</a>
<a id="lnkTeste2">asdsd</a>
<a id="lnkTeste3" class="gl">asdsd @GlyphIcon.Flash()</a>

<input type="text" id="drpTeste2" width="200"/>
<div id="divTeste5" style="min-width:100px"></div>

@section InLineJavaScript{
    <script src="~/TypeScript/Home/Index.js"></script>
}
