<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.2.0" targetFramework="net45" />
  <package id="bootstrap.TypeScript.DefinitelyTyped" version="0.0.9" targetFramework="net45" />
  <package id="glyphicon" version="1.0.1" targetFramework="net45" />
  <package id="jQuery" version="2.1.1" targetFramework="net45" />
  <package id="jquery.datatables" version="1.10.3" targetFramework="net45" />
  <package id="jquery.dataTables.TypeScript.DefinitelyTyped" version="0.0.6" targetFramework="net45" />
  <package id="JQuery.Pnotify" version="2.0" targetFramework="net45" />
  <package id="jquery.pnotify.TypeScript.DefinitelyTyped" version="0.1.5" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.4.0" targetFramework="net45" />
  <package id="jQuery.Validation" version="1.13.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Pnotify" version="1.2.2" targetFramework="net45" />
  <package id="RequireJS" version="2.1.15" targetFramework="net45" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.2.0" targetFramework="net45" />
  <package id="RequireJsNet" version="2.0.38.0" targetFramework="net45" />
  <package id="Select2.js" version="3.5.1" targetFramework="net45" />
  <package id="select2.TypeScript.DefinitelyTyped" version="0.1.4" targetFramework="net45" />
  <package id="T4MVC" version="3.10.0" targetFramework="net45" />
  <package id="T4MVCExtensions" version="3.10.0" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="2.3.1" targetFramework="net45" />
</packages>